<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Tablas</title>
</head>
<body>
    <h1>Tareas</h1>
    <table>
        
        <tr>
            <th>Titulo</th>
            <th>Fecha de entrega</th>
            <th>Categorias</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Completado</th>

        </tr>
        
    </table>
</body>
</html>    <th>Titulo</th>
            <th>Fecha de entrega</th>
            <th>Categorias</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Completado</th>

        </tr>
        
    </table>
</body>
</html>